*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
color: rgb(206, 171, 171);
}
/******************************************************************************/
.container{
    display: flex;
    height: 100%;
width: 100%;
}
.sidebar{
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 30px;
transition: transform 0.3s ease-in;
   
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;/** to remove the dot which will make when we use (ul/li)**********/
padding: 30px 0px 30px 0px;
}
.sidebar nav a{
   text-decoration: none;
   color: white;
}
.main-content{
    background-color: rgb(0, 0, 0);
    width: 100vw;
}
.info-container{
    background-color:  #000000;
    width: 80vw;
    height: 71vh;
    margin: 147px auto;
display: flex;
justify-content: space-around;
/*flex-wrap: wrap;/*********responsiveness**/
}
.dev-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devphoto img{
    height: 71vh;
}
.hello{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: lighter;}
.name{
    font-size: 80px;
    font-family: serif;
    font-weight: bold;
}
.about{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.buttons{
    margin: 20px;
}
.buttons button{
    padding: 10px;
    border-radius: 18px;
    background-color: rgb(119, 78, 78);
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px white solid;

}
.buttons button:hover{
    background-color: white;
    cursor: pointer;
    color: rgb(119, 78, 78);
    border: 2px white solid;
}
.moreaAbout{
    font-size: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/**********************************CONTACT-FORM********************************/

.contact-form{
    height: 78vh;
    width: 47vw;
    background-color: rgb(0, 0, 0);
    margin-left: 365px;
    margin-top: 120px;
}
form{
    position: relative;
    left: 50px;
    top: 50px;
}
.option{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 64px;
    font-family: sans-serif;

}

.form-text{
    font-size: 15px;
    margin-top: 14px;
    margin-left: 144px;
    margin-bottom: 15px;
}
#email-box{
    width: 400px;
}
#Phonenumber-box{
    width: 400px;
}
#name{
    margin-left: 4px;
}
#Name-box{
    width: 400px;
    margin-left: 26px;
}
#check-box{
    width: 25px;
    height: 20px;
}
.btn{
    height: 40px;
    width: 121px;
    margin-top: -5px;
    margin-left: 224px;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    border: 2px black solid;
    cursor: pointer;

}
.btn:hover{
    background-color: #ffffff;
    color:darkblue ;
}
.form-heading{
    display: flex;
        justify-content: center;
        font-size: 40px;
        padding-top: 12px;
}
.form-filled{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: cursive;
position: relative;
top: 525px;
}
/*****************BLOGS******************/
.blog-item {
font-family:' fira sans ' , sans-serif;
}
#readMore-btn{
    margin-left: 23px;
    margin-top: 5px;
}
.blog-para{
    font-size: 20px;
    margin-left: 16px;
    padding: 10px;
}
/***************APPLY EVERWHERE*********************/
h1{
    margin: 63px;
    margin-left: 25px;
    margin-bottom: 17px;
}
h2{
    margin: 20px;
    font-size: 30px;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 58px;
    
}
.para{
    font-family:' fira sans ' , sans-serif;
    margin: 10px;
    font-size: 20px;
    margin-left: 20px;
}
h3{
    margin-left: 42px;
    margin-top: 5px;
    font-size: 22px;
}
/*************INTRO*******************/
.skill-container{
    display: inline;
   font-size: 22px;
   font-family: cursive;
}
.skill{
    margin: 10px;
    margin-left: 20px;
}

.S5{
    background-color: rgb(82, 135, 58);
    height: 10px;
    width: 300px;
    margin-top: 9px;
}
.H100{
    background-color: rgb(82, 135, 58);
    height: 10px;
    width: 500px;
    margin-top: 9px;

}
.T5{
    background-color: rgb(82, 135, 58);
    height: 10px;
    width: 180px;
    margin-top: 9px;

}
.todo{
    font-family:' fira sans ' , sans-serif;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px; 
}
/*****************RESPONSIVENESS*********************/
@media (max-width: 1615px) {
     #devphoto img{
        display: none;
    } 
.sidebarGo{
        transform: translate(-429px, 0px);
        position: absolute;
    
    }
}
/***********************NAVBAR-NAVIGATION BAR**************/
.bar-icon{
    position: absolute;
    margin-top: 10px;
    left: 10px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
}
.cross-icon{
    position: absolute;
    top: 10px;
    left: 163px;
    cursor: pointer;
    background-color:rgb(255, 255, 255);;

}
